In [2]:
import pandas as pd
from ydata_profiling import ProfileReport

In [7]:
data = pd.read_csv("../data/census.csv", skipinitialspace=True)

In [8]:
data.head(5)

,age,workclass,fnlgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
profile = ProfileReport(data)
profile.to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

/opt/anaconda3/envs/project03/lib/python3.10/site-packages/ydata_profiling/model/correlations.py:66: UserWarning: There was an attempt to calculate the auto correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"auto": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'could not convert string to float: ' Bachelors'')
  warnings.warn(

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valuâ€¦

In [13]:
data.groupby(['education','education-num']).size().reset_index(name='counts').sort_values(by="education-num")

       education  education-num  counts
13     Preschool              1      51
3        1st-4th              2     168
4        5th-6th              3     333
5        7th-8th              4     646
6            9th              5     514
0           10th              6     933
1           11th              7    1175
2           12th              8     433
11       HS-grad              9   10501
15  Some-college             10    7291
8      Assoc-voc             11    1382
7     Assoc-acdm             12    1067
9      Bachelors             13    5355
12       Masters             14    1723
14   Prof-school             15     576
10     Doctorate             16     413

In [15]:
data = data.replace("?", None)

In [17]:
data.to_csv("../data/census_clean.csv")